<nav class="navbar navbar-default">
  <div class="container-fluid">
    <title>{{ title }}</title>
    <div class="navbar-header">
      <a class="navbar-brand">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li>
        <a [routerLink]="['/']" href="/">Home</a>
      </li>
      <li>
        <a [routerLink]="['/about']" href="/about">About</a>
      </li>
      <li>
        <a [routerLink]="['/posts']" href="/posts">List post</a>
      </li>
      <li>
        <button class="btn btn-primary" *ngIf="!isAuth" (click)="login()">
          Login
        </button>
      </li>
      <li>
        <button class="btn btn-danger" *ngIf="isAuth" (click)="logout()">
          logout
        </button>
      </li>
      <li>
        <button class="btn btn-primary" (click)="test()">test</button>
      </li>
    </ul>
  </div>
</nav>
