.post-body {
  border: 2px solid #000000;
  padding: 10px;
}

.comment {
  border: 2px solid #000000;
  padding: 10px;
}

.add-comment {
  padding: 10px 0px;
}

.btn-form {
  margin: 5px;
}

.update-comment {
  margin: 10px 0px;
}
