<app-header></app-header>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>{{ post?.author }}</h2>
  </div>
  <div class="panel-body">
    <h2>{{ post?.title }}</h2>
  </div>
</div>
<div>
  <h3 appHighlight>Comments:</h3>
  <div *ngFor="let comment of comments">
    <div class="panel panel-info">
      <div class="panel-heading">Name: {{ comment.author }}</div>
      <div class="panel-body" *ngIf="editMode !== comment.id">
        {{ comment.body }}
      </div>
      <div *ngIf="editMode === comment.id">
        <form
          class="from-group mb-3"
          (ngSubmit)="updateComment(post?.id, comment.id, updateCmt.value)"
        >
          <input
            type="text"
            class="form-control update-comment"
            name="updateCmt"
            [formControl]="updateCmt"
            required
          />
          <button
            class="btn btn-primary btn-form"
            type="submit"
            [disabled]="!updateCmt.valid"
          >
            save
          </button>
          <button
            class="btn btn-danger btn-form"
            type="button"
            (click)="editMode = -1"
          >
            cancel
          </button>
        </form>
      </div>
      <div *ngIf="editMode === -1">
        <button
          class="btn btn-primary btn-form"
          (click)="editMode = comment.id; updateCmt.setValue(comment.body)"
        >
          update comment
        </button>
        <button
          class="btn btn-danger btn-form"
          (click)="deleteComment(comment.id)"
        >
          delete comment
        </button>
      </div>
    </div>
  </div>
  <div class="add-comment">
    <form (ngSubmit)="addComment(body.value, post?.id)">
      <div class="form-group mb-3">
        <input
          type="text"
          class="form-control"
          name="body"
          [formControl]="body"
          required
        />
        <button
          class="btn btn-primary btn-form"
          type="submit"
          [disabled]="!body.valid"
        >
          Comment
        </button>
      </div>
    </form>
  </div>
</div>
