<app-header [title]="title"></app-header>
<div class="search-box">
  <input
    type="text"
    class="form-control"
    placeholder="Search"
    [formControl]="searchBox"
  />
</div>

<div *ngFor="let post of listPosts" [routerLink]="['/posts', post.id]">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2>{{ post.author }}</h2>
    </div>
    <div class="panel-body">
      <h2>{{ post.title }}</h2>
    </div>
  </div>
</div>

<p>list-posts works!</p>
