<app-header [title]="title"></app-header>
<main>
  <header class="container">
    <div>
      <h1>Shopping Cart</h1>
      <ul class="breadcrumb">
        <li>Home</li>
        <li>Shopping Cart</li>
      </ul>
      <span class="count">{{ total.totalQuantity }} items in the bag</span>
    </div>
  </header>

  <section class="container">
    <ul class="products">
      <li class="row" *ngFor="let product of products">
        <div class="col left">
          <div class="thumbnail">
            <a href="#">
              <img src="https://via.placeholder.com/200x150" alt="" />
            </a>
          </div>
          <div class="detail">
            <div class="name">
              <a href="#">{{ product.name }}</a>
            </div>
            <div class="description">
              {{ product.description }}
            </div>
            <div class="price">{{ product.price | currency }}</div>
          </div>
        </div>

        <div class="col right">
          <div class="quantity">
            <input
              type="number"
              class="quantity"
              step="1"
              value="{{ product.quantity }}"
              (change)="updateQuantity(product, $event)"
            />
          </div>

          <div class="remove" (click)="removeProduct(product)">
            <svg
              version="1.1"
              class="close"
              xmlns="//www.w3.org/2000/svg"
              xmlns:xlink="//www.w3.org/1999/xlink"
              x="0px"
              y="0px"
              viewBox="0 0 60 60"
              enable-background="new 0 0 60 60"
              xml:space="preserve"
            >
              <polygon
                points="38.936,23.561 36.814,21.439 30.562,27.691 24.311,21.439 22.189,23.561 28.441,29.812 22.189,36.064 24.311,38.186 30.562,31.934 36.814,38.186 38.936,36.064 32.684,29.812"
              ></polygon>
            </svg>
          </div>
        </div>
      </li>
    </ul>
  </section>

  <section class="container">
    <div class="promotion">
      <label for="promo-code">Have A Promo Code?</label>
      <input type="text" id="promo-code" /> <button type="button"></button>
    </div>

    <div class="summary">
      <ul>
        <li>
          Subtotal <span>{{ total.subTotal | currency }}</span>
        </li>
        <li>
          Tax <span>{{ total.tax | currency }}</span>
        </li>
        <li class="total">
          Total <span>{{ total.total | currency }}</span>
        </li>
      </ul>
    </div>

    <div class="checkout">
      <button type="button">Check Out</button>
    </div>
  </section>
</main>
